body{
    background-color: darkgray;
}
#formBus{
    background-image:url('bus1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    margin:50px 500px;
    padding: 50px;
    padding-right:100px;
    color: aliceblue;
    
}
h1{margin-bottom: 50px;

}
#avlbBus{
    border:3px;
    padding: 10px;
}